.dark-container {
    border-color: rgb(47,49,54) !important;
    background-color: rgb(66,70,77) !important;
}


.odh-dropdown-menu {
    background-color: rgb(34,34,34) !important;
}


.odh-dropdown {
    color: rgb(190,192,195) !important;
    font-family: 'Roboto';
}


.odh-dropdown:hover {
    background-color: rgb(38,38,38) !important;
}


.odh-body {
    background-color: rgb(54,57,63); 
    height: 100%;
}


.odh-title {
    color: rgb(230,252,255) !important;
    font-family: 'Roboto';
    font-weight: 100;
    text-align: center;
}


.odh-btn {
    background-color: rgb(41,43,47) !important; 
    border-color: rgb(36,40,43) !important;
    color: rgb(230,252,255) !important;
    letter-spacing: 0.5px;
    font-family: 'Roboto';
    font-weight: 100;
}


.odh-input {
    background-color: rgb(47,49,54) !important; 
    border-color: rgb(40,44,47) !important;
    color: rgb(230,252,255) !important;
    font-family: 'Roboto';
}